@import "function";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html { 
    scroll-behavior: smooth;
}

body{
    header{
        position: relative;
        #header{
            position: fixed;
            top: 0;
            height: 75px;
            width: 100%;
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            .logo{
                img{
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    height: 28px;
                }
            }
            .header-text{
                display: inline-block;
                font-size: 15px;
                font-family: "ヒラギノ明朝 ProN";
                color: #393939;
                .header-list{
                    display: inline-flex;
                    li{
                        list-style-type: none;
                        text-decoration: none;
                        padding-right: 20px;
                        letter-spacing: 5px;
                        a{
                            display: inline-block;
                            text-decoration: none;
                            color: #393939;
                            position: relative;   
                            &:hover {
                                color: #00b7de;
                                filter: drop-shadow(1, 1, #FFFFFF);
                            }                           
                            &::after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: #00b7de;
                                transform-origin: center top;
                                transform: scaleX(0);
                                transition: all 0.5s;                                                 
                            }      
                            &:hover::after{
                                width: 100%;
                                transform: scaleX(1);
                            }                                   
                        }
                    }
                }
            }
            .sns-logo{
                position: absolute;
                bottom: 20px;
                right: 20px;
                display: inline-block;
                .twitter{
                    font-size: 2.0em;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .facebook{
                    font-size: 2.0em;
                    border-radius: 50%;
                }
            }
        }
        .slider{
            img{
                height: 720px;
                width: 100%;
            }
            .slick-slide {
                margin: 0 3px;
            }
        }
    }
    main{
        .official-sns{
            margin-top: 60px;
            margin-bottom: 50px;
            text-align: center;
            font-family: "ヒラギノ明朝 ProN";
            .title{
                letter-spacing: 5px;
                font-size: 20px;
                font-weight: normal;
            }
            .twitter{
                margin: 30px 15px 0px 30px;
                display: inline-block;
                border: 1px solid #393939;
                padding: 12px 60px;
                .icon{
                    font-size: 1.5em;
                }
                .btn{
                    @include sns-btn();
                }
            }
            .instagram{
                margin: 30px 0px 0px 15px;
                display: inline-block;
                border: 1px solid #393939;
                padding: 12px 60px;
                .icon{
                    font-size: 1.5em;
                }
                .btn{
                    @include sns-btn();
                }
            }
        }
        .trailer{
            text-align: center;
            font-family: "ヒラギノ明朝 ProN";
            .title{
                letter-spacing: 5px;
                font-size: 20px;
                font-weight: normal;
                margin-bottom: 50px;
            }
            .videos{
                display: inline-flex;
                margin-bottom: 100px;
                .video{
                    width: 500px;
                    p{
                        margin-top: 10px;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
        .bridge {
            background-image: url(images/bridge.jpg);
            background-size: cover;
            height: 100vh;
            background-attachment: fixed;
            background-position: center;
        }
        .introduction{
            display: flex;
            margin-top: 150px;
            margin-bottom: 150px;
            .introduction-image{
                width: 600px;
                height: 400px;
            }
            .texts{
                font-family: "ヒラギノ明朝 ProN";
                margin-left: 50px;
                color: #393939;
                .title{
                    font-weight: normal;
                    font-size: 21px;
                    letter-spacing: 5px;
                    margin-bottom: 30px;
                }
                .caption{
                    font-size: 20px;
                    line-height: 40px;
                }
                .text{
                    margin-top: 30px;
                    p{
                        font-size: 15px;
                        line-height: 2;
                        letter-spacing: 2px;
                        padding-bottom: 20px;
                        span{
                            color: #00b7de;
                            padding-right: 3px;
                            padding-left: 3px;
                        }
                    }
                }
            }
        }
        .story{
            width: 100%;
            height: 500px;
            position: relative;
            background-image: url(images/story-background.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            .contents{
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translateX(50%) translateY(-50%);
                text-align: center;
                font-family: "ヒラギノ明朝 ProN";
                text-shadow: 0 0 0.5em #18292d, 0 0 0.5em #18292d, 0 0 0.5em #18292d;
                .title{
                    font-weight: normal;
                    font-size: 20px;
                    letter-spacing: 5px;
                    color: #FFFFFF;
                }
                .text{
                    width: 900px;
                    margin-top: 25px;
                    color: #FFFFFF;
                    font-size: 17px;
                    line-height: 1.8;
                    letter-spacing: 2px;
                }
            }
        }
        #story{
            display: block;
            padding-top: 70px;
            margin-top: -70px;
        }
        #cast{
            display: block;
            padding-top: 70px;
            margin-top: -70px;
        }
        .cast{
            text-align: center;
            padding: 60px 100px 170px 50px;
            font-family: "ヒラギノ明朝 ProN";
            .title{
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 5px;
                font-family: "ヒラギノ明朝 ProN";
                margin-bottom: 65px;
            }
            .episodes{
                margin: 0 auto;
                width: 1010px;
                display: flex;
                justify-content: space-between;
                .episode-1{
                    @include cast-box();
                }
                .episode-2{
                    @include cast-box();
                }
            }
        }
        .hulu{
            height: 980px;
            width: 1440px;
            background-color: #68A935;
            color: #FFFFFF;
            font-family: "凸版文久見出しゴシック";
            text-align: center;
            .logo{
                margin-top: 100px;
                display: inline-block;
                img{
                    width: 180px;
                    height: 60px;
                    filter: brightness(0) invert(1);
                }
            }
            .catch-copy{
                margin-top: 50px;
                font-size: 24px;
                letter-spacing: 3px;
            }
            .hulu-contents{
                margin-top: 50px;
                display: inline-flex;
                flex-direction: row;
                justify-content: space-between;
                width: 810px;
                .content{
                    border: 1px solid #FFFFFF;
                    background-color: #FFFFFF;
                    width: 250px;
                    height: 360px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease;
                    h6{
                        font-size: 24px;
                        color: #68A935;
                
                    }
                    &:hover{
                        transition: all 0.5s ease;
                        background-color: #68A935;
                        color: #FFFFFF;
                        border-color: #FFFFFF;
                        opacity: 0.8;
                        h6{
                            color: #FFFFFF;
                        }
                    }
                }
            }
            p{
                margin-top: 50px;
                font-size: 12px;
            }
            .try-btn{
                margin-top: 50px;
                display: inline-flex;
                background-color: #F77E11;
                width: 400px;
                height: 75px;
                justify-content: center;
                align-items: center;
                .text{
                    font-size: 24px;
                    display: block;
                }
            }
        }
    }
    footer{
        background-color: #242424;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-family: "凸版文久見出しゴシック";
            color: #FFFFFF;
            font-size: 12px;
            letter-spacing: 2px;
            span{
                font-size: 16px;
            }
        };
    }
}